/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Exo 2", sans-serif; /* Define a fonte padrão */
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
    background-color: #DDDDDD; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background-image: url('/assets/images/background.jpg'); /* Substitua por seu caminho da imagem */
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    /* Efeito de borda com sombra */
    text-shadow: 
    -5px 0px 0px #000000,  /* Sombra esquerda (preta) */
    5px 0px 0px #000000,  /* Sombra direita (preta) */
    0px -5px 0px #000000, /* Sombra superior (preta) */
    0px 5px 0px #000000, /* Sombra inferior (preta) */
    0px 0px 5px #000000;  /* Sombra interna (branca) */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    justify-content: center;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-top-left-radius: 1.5rem; /* Borda arredondada */
    border-bottom-left-radius: 1.5rem; /* Borda arredondada */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    outline: none;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: 0.3rem solid #ff2d37; /* Remove a borda padrão */
    border-top-right-radius: 1.5rem; /* Borda arredondada */
    border-bottom-right-radius: 1.5rem; /* Borda arredondada */
    background-color: #ff2d37; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #01c6fb; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
    border: 0.3rem solid #01c6fb; /* Remove a borda padrão */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    display: flex;
    gap: 20px;
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 11rem;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #01c6fb; /* Cor do texto */
    text-align: center;
}


.item-resultado .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-resultado .info .temp img {
    width: 5rem;
}

/* Estiliza os avisos dentro dos itens de resultado */
.warning {
    background: #fd9902f6; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    color: #ffffff;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    section button {
        border-width: 0.1rem;
    }

    section button:hover {
        border-width: 0.1rem;
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section {
        display: flex; /* Usa Flexbox para layout */
        flex-direction: column; /* Alinha os itens na vertical */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
        margin-bottom: 10px;
        border-radius: 1.5rem;
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
        border-radius: 1.5rem;
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 30vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}